<%- include('partials/header') %>

<main>
  <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
    <div class="col-md-5 p-lg-5 mx-auto my-5">
      <h1 class="display-4 fw-normal">Search For a Tool</h1>
      <p class="lead fw-normal">Black Hills Information Security leads and takes part in a number of different (and awesome) open-source projects. Check them out!</p>
      <form action="/xsschallengedup" method="GET" autocomplete="off">
        <div class="form-group">
          <input type="text" class="form-control" name="searchValue" placeholder='Type Here'>
        </div>
        <button class="btn btn-outline-secondary" type="submit" name='Submit'>Search</button>
      </form>
      <div>
        <p><%- searchReq %></p>
      </div>
    </div>
  </div>

  <div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">
    <div class="bg-secondary rounded me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
      <div class="my-3 py-3">
        <h2 class="display-5">ADHD</h2>
        <p class="lead">Active Defense Harbinger Distribution (ADHD) is our answer to security distributions such as Kali Linux or Parrot Security. We have curated a variety of open-source tools and installed them on top of Ubuntu 20.04 (previously
          Linux Mint).</p>
      </div>
      <div class="bg-light shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
    </div>
    <div class="bg-light border border-secondary rounded me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
      <div class="my-3 p-3">
        <h2 class="display-5">Auto Scan with Burp</h2>
        <p class="lead">Auto Scan with Burp contains a Burp Extension and a Python script for invoking the extension to perform automated and authenticated scans against all URLs listed in a configuration file. Authentication is accomplished through
          Burp State files. Auto Scan comes with an optional Nikto scan function as well.</p>
      </div>
      <div class="bg-secondary shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
    </div>
  </div>

  <div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">
    <div class="bg-light border border-secondary rounded me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
      <div class="my-3 p-3">
        <h2 class="display-5">CredDefense</h2>
        <p class="lead">Wouldn’t it be great if there was a free toolset to protect your credentials even when password length couldn’t be changed, and to alert on other credential attacks being conducted in your network? That’s why we created The
          CredDefense Toolkit.</p>
      </div>
      <div class="bg-secondary shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
    </div>
    <div class="bg-secondary rounded me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
      <div class="my-3 py-3">
        <h2 class="display-5">RITA</h2>
        <p class="lead">Real Intelligence Threat Analysis. RITA is an open-source framework for network traffic analysis born from Black Hills Information Security. RITA is now developed and supported by Active Countermeasures.</p>
      </div>
      <div class="bg-light shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
    </div>
  </div>

  <div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">
    <div class="bg-secondary rounded me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
      <div class="my-3 p-3">
        <h2 class="display-5">Recon-ng</h2>
        <p class="lead">Recon-ng is a full-featured Web Reconnaissance framework authored by Tim Tomes and written in Python. Complete with independent modules, database interaction, built-in convenience functions, interactive help, and command
          completion, Recon-ng provides a powerful environment in which open source web-based reconnaissance can be conducted quickly and thoroughly.</p>
      </div>
      <div class="bg-light shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
    </div>
    <div class="bg-light border border-secondary rounded me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
      <div class="my-3 py-3">
        <h2 class="display-5">Pushpin-Web</h2>
        <p class="lead">Pushpin-Web is a web application which provides a simple interface to keep track of geo-tagged social media activity. It is adapted from Recon-ng and is currently capable of aggregating data from Twitter, Flickr, Picasa,
          Shodan, and Youtube in near real-time.</p>
      </div>
      <div class="bg-secondary shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
    </div>
  </div>

  <div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">
    <div class="bg-light border border-secondary rounded me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
      <div class="my-3 p-3">
        <h2 class="display-5">CredSniper</h2>
        <p class="lead">While phishing for login credentials is nothing new, more and more organizations are adopting multi-factor authentication, making it difficult to phish account access. CredSniper can easily launch a new phishing site that not
          only requests the login credentials but also the 2FA token from unsuspecting targets.</p>
      </div>
      <div class="bg-secondary shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
    </div>
    <div class="bg-secondary rounded me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
      <div class="my-3 py-3">
        <h2 class="display-5">CredKing</h2>
        <p class="lead">Password sprays against websites like Google’s GSuite are getting more and more difficult. CredKing looks to solve that problem by leveraging Amazon AWS Lambda to rotate IP addresses for each authentication attempt.</p>
      </div>
      <div class="bg-light shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
    </div>
  </div>
</main>

<%- include('partials/footer') %>
