<%- include('partials/header') %>

<main>
  <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
    <div class="col-md-5 p-lg-5 mx-auto my-5">
      <h1 class="display-4 fw-normal">Enter Your name to join the drawing!</h1>
      <p class="lead fw-normal">One lucky winner will recieve absolutly nothing!</p>
      <form name="xsschallenge3form"action="/xsschallenge" method="post">
        <div class="form-group">
          <input type="text" class="form-control" id="firstname-field" name="entrantFirstName" placeholder='First Name' maxlength="35">
          <input type="text" class="form-control" id="lastname-field" name="entrantLastName" placeholder='Last Name' maxlength="35">
        </div>
        <input type="submit" name="Enter" value="Enter" onclick="combine(); return false">
        <!-- <button class="btn btn-outline-secondary" id="xsstwosubmit-button" type="submit" name='Enter' onclick="check(); return false">Enter Drawing</button> -->
      </form>
      <br>
      <br>
      <div>
        <h2 id="combinedComfirmation"></h2>
      </div>
    </div>
  </div>
</main>

<%- include('partials/footer') %>
