<%- include('partials/header') %>

<div class="top-container top-item">
  <img class="Logo" src="../Images/BHISlogo.png" alt="BHIS Logo Image">
</div>
<hr>

<h1>Cross Site Scripting Challenges</h1>

<a class="btn btn-secondary" href="/xsschallenge" role="button">Challenge 1</a>

<%- include('partials/footer') %>
