<%- include('partials/header') %>

<div class="top-container top-item">
  <img class="Logo" src="../Images/BHISlogo.png" alt="BHIS Logo Image">
</div>
<hr>

<h1>Cross Site Scripting Challenges</h1>

<a class="btn btn-secondary" href="/xsschallenge" role="button">Reflected XSS JQuery</a>
<a class="btn btn-secondary" href="/xsschallengedup" role="button">Reflected XSS EJS</a>
<a class="btn btn-secondary" href="/xsschallengenoscript" role="button">No Script Allowed</a>
<a class="btn btn-secondary" href="/xsschallengetwoinputs" role="button">Two Inputs</a>
<!-- <a class="btn btn-secondary" href="/xsschallengeDOM" role="button">DOM Based XSS</a> -->

<%- include('partials/footer') %>
