<%- include('../../partials/header') %>

<main>
  <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
    <div class="col-md-5 p-lg-5 mx-auto my-5">
      <h1 class="display-4 fw-normal">Daily Blog Update</h1>
      <p class="lead fw-normal">Catch up with the current news below!</p>

      <form action="/xsschallengeDOM" method="get">
        <label for="language">Choose a language:</label>
        <select name="language" id="language">
          <option value="English">English</option>
          <option value="French">French</option>
          <option value="Spanish">Spanish</option>
          <option value="Korean">Korean</option>
        </select>
        <br><br>
        <input type="submit" value="Submit">
      </form>
    </div>
  </div>
  <div class="bg-light border border-secondary rounded me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
    <div class="my-3 p-3">
      <h2 class="display-5">Random Undecided Text</h2>
      <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
  </div>
</main>

<%- include('../../partials/footer') %>
