<%- include('../../partials/header') %>

<main>
  <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
    <div class="col-md-5 p-lg-5 mx-auto my-5">
      <h1 class="display-4 fw-normal">Enter Your name to join the drawing!</h1>
      <p class="lead fw-normal">One lucky winner will recieve absolutly nothing!</p>
      <form name="xsschallenge3form" action="/xsschallengetwoinputs" method="post">
        <div class="form-group">
          <input type="text" class="form-control" id="firstname-field" name="firstName" placeholder='First Name' maxlength="8">
          <input type="text" class="form-control" id="lastname-field" name="lastName" placeholder='Last Name' maxlength="70">
        </div>
        <button class="btn btn-outline-secondary" type="submit" name='Submit'>Submit</button>
      </form>
      <br>
      <br>
      <div>
        <h2> <%- fullNameOutput %> </h2>
      </div>
    </div>
  </div>
</main>

<%- include('../../partials/footer') %>
