</div>
</body>
<div class="footer-wrapper">
  <footer class="footer mt-auto py-3 bg-light">
    <div class="container" id="footer">
      <a class="footer-link" href="https://www.youtube.com/c/BlackHillsInformationSecurity">Youtube</a>
      <a class="footer-link" href="https://twitter.com/BHinfoSecurity">Twitter</a>
      <a class="footer-link" href="https://www.blackhillsinfosec.com/">Website</a>
      <a class="footer-link" href="https://www.linkedin.com/company/black-hills-information-security">LinkedIn</a>
      <a class="footer-link" href="https://discord.com/invite/BHIS">Discord</a>
      <a class="footer-link" href="https://podcasts.apple.com/us/podcast/black-hills-information-security/id1410835265?mt=2">Podcasts</a>
      <p></p>
      <p>Black Hills Infomation Security
        <br>115 W. Hudson St. Spearfish, SD 57783 | 701-484-BHIS
        <br>©2008
      </p>
    </div>
  </footer>
</div>

</html>
