<%- include('../../partials/header') %>

<div class="top-container top-item">
  <img class="Logo" src="../Images/BHISlogo.png" alt="BHIS Logo Image">
</div>
 <hr>

 <h1>Server-Side Request Forgery Challenges</h1>

<a class="btn btn-secondary" href="/ssrf/challenge" role="button">SSRF Image Upload Initial Functionality</a>
<a class="btn btn-secondary" href="/ssrf/challengefour" role="button">SSRF API call</a>

<%- include('../../partials/footer') %>
