<%- include('../../partials/header') %>

<div class="top-container top-item">
  <img class="Logo" src="../Images/BHISlogo.png" alt="BHIS Logo Image">
</div>
 <hr>

 <h1>NOSQL Injection Challenges</h1>

<a class="btn btn-secondary" href="/nosql/InjectionGET" role="button">Get Method</a>
<a class="btn btn-secondary" href="/nosql/InjectionPost" role="button">Post Method</a>

<%- include('../../partials/footer') %>
